// Variables de couleurs
$blackcolor: #000000;
$whitecolor: #ffffff;
$validatecolor: #99E2D0;
$greencolor: #008766;
$blue-lightcolor: #89C8FA;
$blue-darkcolor: #003A68;
$purplecolor: #9356DC;
$greycolor: #EAEAEA;
$greylightcolor: #F6F6F6;
$buttongradient: linear-gradient(-185.33deg, #FF79DA -11.44%, #9356DC 123.93%);

// Mixin
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bouton-rond {
    border-radius: 25px;
}

@mixin media-desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

// Polices par défaut
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $whitecolor;

    @include media-desktop {
        background-color: $whitecolor;
    }
}

// Header
header {
    background-color: $whitecolor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    flex-direction: column;

    i {
        position: absolute;
        top: 21px;
        left: 35px;
        font-size: 25px;
        text-decoration: none;
        color: #353535;
    }

    .header__logo {
        img {
            width: 162px;
            height: 44px;
            object-fit: contain;
        }
    }
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include media-desktop {
            height: 383px;
            
        }
    }
}

// Section Menu
.menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: $greylightcolor;
    position: relative;
    margin-top: -50px;
    z-index: 1;
    padding: 20px;

    @include media-desktop {
        width: 1055px;
        height: 1221px;
        left: 420px;
        @include flex-center;        
    }

    h1 {
        font-family: "Shrikhand", serif;
        font-weight: lighter;
        font-size: 28px;
        padding-left: 1px;

        @include media-desktop {
            @include flex-center;
        }
    }

    .titre-section {
        padding: 25px 0 5px;
        border-bottom: #99E2D0 3px solid;
        width: 40px;
    }

    // Icône Heart
    &__heart {
        position: absolute;
        top: 20px;
        right: 40px;
    
        @include media-desktop {
            top: 65px;
            right: 340px;
        }
    
        input[type="checkbox"] {
            display: none;
        }
    
        label {
            font-size: 30px;
            cursor: pointer;
            position: relative;
            display: inline-block;
            width: 1em;
            height: 1em;
        }
    
        .heart-empty,
        .heart-full {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.5s ease, visibility 0.5s ease;
        }
    
        .heart-empty {
            color: $blackcolor;
            opacity: 1;
            visibility: visible;
        }
    
        .heart-full {
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            background-clip: text;
            color: transparent;
            opacity: 0;
            visibility: hidden;
        }
    
        .heart-full.active {
            opacity: 1;
            visibility: visible;
        }
    
        .heart-empty.inactive {
            opacity: 0;
            visibility: hidden;
        }
    
        input[type="checkbox"]:checked + label {
            .heart-empty {
                opacity: 0;
                visibility: hidden;
            }
    
            .heart-full {
                opacity: 1;
                visibility: visible;
            }
        }
    }    

    // Menu Cards
    &__cards {
        width: 100%;
        margin-top: 10px;
    }

    &__card {
        background-color: $whitecolor;
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 0.5s forwards;
        position: relative;
        overflow: hidden;

        @include media-desktop {
            width: 634px;
        }

        h3 {
            padding-bottom: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: transform 0.5s ease;
        }
    }

    &__price {
        font-weight: bold;
        color: #353535;
        z-index: 1;
        margin-left: auto;
        transition: transform 0.5s ease;
    }

    &__validator {
        background-color: $validatecolor;
        transition: width 0.5s ease, transform 0.5s ease;
        width: 0;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        i {
            overflow: hidden;
            background-color: $validatecolor;
            color: $whitecolor;
            font-size: 20px;
        }
    }

    // Card Checkbox
    .card-checkbox {
        display: none;
    
        &:checked ~ .menu-container__validator {
            width: 70px;
            opacity: 1;
            transform: translateX(0);
        }
    
        &:checked + .card-label + h3 + p .menu-container__price {
            position: relative;
            transform: translateX(-260%);
            transition: transform 0.5s ease;
            text-overflow: ellipsis;
        }
    
        &:checked ~ .menu-container__validator i {
            opacity: 1;
        }
        
    }
    
    @include media-desktop {
        .card-checkbox {
            &:checked ~ .menu-container__validator {
                width: 59px;
            }
    
            &:checked + .card-label + h3 + p .menu-container__price {
                transform: translateX(-60px);
            }
        }
    }
    

    .card-label {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        z-index: 1; 
    }

    // Anim Cards
    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // Délais d'animation
    .delay-1 { animation-delay: 0.5s; }
    .delay-2 { animation-delay: 1s; }
    .delay-3 { animation-delay: 1.5s; }
    .delay-4 { animation-delay: 2s; }
    .delay-5 { animation-delay: 2.5s; }
    .delay-6 { animation-delay: 3s; }
    .delay-7 { animation-delay: 3.5s; }
    .delay-8 { animation-delay: 4s; }
    .delay-9 { animation-delay: 4.5s; }
}

// BOUTON COMMANDER
.commander {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;


    // Button par défaut
    .button {
        width: 218px;
        height: 50px;
        border: none;
        box-shadow: 0px 4px 10px 0px rgba(36, 36, 36, 0.251);
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: #FFFFFF;
        background: $buttongradient;
        @include bouton-rond;

        &:hover {
            background: linear-gradient(-185deg, #FF79DA 20.74%, #9356DC 120%);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.349);
        }
    }
}

// Section Footer
footer {
    background-color: #353535;
    padding: 30px;
    position: relative;

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        @include media-desktop {
            flex-direction: row;
            justify-content: end;
        }
    }

    .footer-title {
        font-family: "Shrikhand", serif;
        color: $whitecolor;
        font-weight: lighter;
        font-size: 24px;
        margin-bottom: 10px;

        @include media-desktop {
            order: 4;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .footer-link {
        display: flex;
        align-items: center;
        color: $whitecolor;
        text-decoration: none;
        font-size: 16px;
        margin: 3px 0;

        @include media-desktop {
            padding-top: 10px;

            &.restaurant,
            &.partner {
                padding-right: 5px;
            }

            &.legal {
                padding-left: 30px;
            }

            &.contact {
                padding-left: 9px;
            }
        }

        .footer__icon {
            font-size: 14px;
            margin-right: 6px;
            min-width: 20px;
            text-align: center;
        }
    }
}
