// Variable Couleur 
$blackcolor: #000000;
$whitecolor: #ffffff;
$validatecolor: #99E2D0;
$greencolor: #008766;
$blue-lightcolor: #89C8FA;
$blue-darkcolor: #003A68;
$purplecolor: #9356DC;
$buttongradient : linear-gradient(-185.33deg, #FF79DA -11.44%, #9356DC 123.93%);

// Mixin 
@mixin flex-center {
    display: flex;              
    justify-content: center;     
    align-items: center;
}

@mixin bouton-rond {
    border-radius: 25px;
}


* {
    font-family: 'Roboto', sans-serif;
}

// Responsive Mobile

@media screen and (max-width: 768px) {
  
  body {
    background-color: $whitecolor;
    margin: 0px;
  }

  header {
    background-color: $whitecolor;
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100px;
    flex-direction: column;
    margin-top: 15px;        

    .header__logo {
      img {
        width: 162px;
        height: 44px;
        object-fit: contain;
        margin-bottom: 5px;
      }
    }

    .header__location {
      background-color: #EAEAEA;
      text-align: center;  
      padding: 15px 0;
      width: 100%;
      box-shadow: 1px 3px 12px -2px rgba(0, 0, 0, 0.38);  
      gap: 8px;
      @include flex-center;                    

      i {
        font-size: 18px;           
        color: #353535;           
      }

      p {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        color: #353535;
      }
    }
  }

  main {
    height: auto; 
  
    .main__presentation {
      display: flex;              
      justify-content: center;    
      align-items: center;        
      height: 100%;               
      text-align: center;         
      padding: 20px;  
      background-color: rgb(247, 247, 247);            
  
      section {
        max-width: 600px;         
  
        h1 {
          font-size: 24px;      
          margin-bottom: 20px;    
        }
  
        p {
          font-size: 18px;      
          margin-bottom: 20px;    
        }
      }
    }
  }

  .button {
    width: 218px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(36, 36, 36, 0.251);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #FFFFFF;
    background: $buttongradient;
    @include bouton-rond;
    &:hover {
        background: linear-gradient(-185deg, #FF79DA 20.74%, #9356DC 120%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
      }
  }
}  