// Variables de couleurs
$blackcolor: #000000;
$whitecolor: #ffffff;
$validatecolor: #99E2D0;
$greencolor: #008766;
$blue-lightcolor: #89C8FA;
$blue-darkcolor: #003A68;
$purplecolor: #9356DC;
$greycolor: #F3F3F3;
$buttongradient: linear-gradient(-185.33deg, #FF79DA -11.44%, #9356DC 123.93%);

// Mixin
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bouton-rond {
    border-radius: 25px;
}

// Polices par défaut
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $whitecolor;
}

// Header
header {
    background-color: $whitecolor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;
    margin-top: 15px;

    .header__logo {
        img {
            width: 162px;
            height: 44px;
            object-fit: contain;
            margin-bottom: 5px;
        }
    }

    .header__location {
        background-color: $greycolor;
        text-align: center;
        padding: 15px 0;
        width: 100%;
        box-shadow: 1px 3px 12px -2px rgba(0, 0, 0, 0.38);
        gap: 8px;
        @include flex-center;

        i {
            font-size: 18px;
            color: #353535;
        }

        p {
            font-size: 16px;
            font-weight: bold;
            color: #353535;
        }
    }
}

main {
    background-color: rgb(247, 247, 247);

    // Section Presentation
    .main__presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding: 20px;

        section {
            max-width: 600px;

            h1 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }
}

// Button par default
.button {
    width: 218px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(36, 36, 36, 0.251);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #FFFFFF;
    background: $buttongradient;
    @include bouton-rond;

    &:hover {
        background: linear-gradient(-185deg, #FF79DA 20.74%, #9356DC 120%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.349);
    }
}

// Section Fonctionnement
.main-fonctionnement {
    background-color: $whitecolor;
    padding-top: 50px;

    &__h1 {
        margin-left: auto;
        padding-left: 20px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 40px;
        @include flex-center;
    }

    &__card {
        width: 335px;
        height: 72px;
        background-color: rgb(247, 247, 247);
        margin: 10px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.349);
        font-size: 16px;
        font-weight: bold;
        text-align: start;
        display: flex;
        align-items: center;
        padding: 0 35px;
        @include bouton-rond;
        position: relative;

        &:hover i {
            color: $purplecolor;
            transition: transform 0.3s ease, color 0.3s ease;
        }
    }

    // Cercle
    .circle {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: $purplecolor;
        color: $whitecolor;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        left: -11px;
    }

    // Icone
    i {
        color: #7E7E7E;
        padding-right: 20px;
    }
}

// Section Restaurants
.main-restaurants {
    background-color: $greycolor;
    padding-bottom: 70px;
    padding-top: 40px;
    @include flex-center;
    flex-direction: column;

    section {
        width: 100%;
    }

    &__h1 {
        padding-left: 20px;
        margin-bottom: 20px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0 20px;
    }

    &__card {
        background-color: $whitecolor;
        border-radius: 20px;
        width: 100%;
        position: relative;
    }

    &__img {
        width: 100%;
        height: 160px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }

    &__text {
        padding: 15px;
        text-align: start;
        position: relative;

        h2 {
            font-size: 18px;
            margin-bottom: 5px;
            font-weight: bold;
        }

        p {
            font-size: 17px;
        }
    }

    &__heart {
        position: absolute;
        top: 20px;
        right: 20px;
        color: $blackcolor;
        font-size: 30px;
    }

    &__new {
        background-color: #99E2D0;  
        color: $greencolor;        
        width: 80px;               
        height: 29px;              
        position: absolute;        
        right: 20px;               
        top: 20px;                 
        border-radius: 2px;        
        text-align: center;        
        line-height: 29px;         
        font-size: 14px;           
        font-weight: bold;         
    }
    
}

// Section Footer

footer {
    background-color: #353535;
    padding: 30px;

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .footer-title {
        font-family: "Shrikhand", serif;
        color: $whitecolor;
        font-weight: lighter;
        font-size: 24px;
        margin-bottom: 10px;
    }

    a {
        display: flex;
        align-items: center;
        color: $whitecolor;
        text-decoration: none;
        font-size: 16px;
        margin: 3px 0;

        .footer__icon {
            font-size: 14px;
            margin-right: 6px;
            min-width: 20px;
            text-align: center;
        }
    }
}
